<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Django</title>
</head>
<body>
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'Home/style.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">


    <div class = header>
	    <h1>Learn Django</h1>
    </div>

    <div class = navigation>
        <a href = "/Home/1">Home</a>
        <a href = "/Home/2">Getting django</a>
        <a href = "/Home/3">Start with django</a>
        <a href = "/Home/10">About website</a>
        <a href = "/Home/13">Contact us</a>
    </div>

    <div class = ends>
    <h4>My name is Vijendra Singh. I am an Computer Science Engineering student in <a href= "http://sdc.ac.in/sdit/">Shree Devi Institute of Technology(MANGALORE)</a></h4>
    </div>

<div class = footer >
    <br>
    <br>
    <br><br>
    <br>
    <br>
       &copy; www.learndjango.com. ALL RIGHTS RESERVED.
            <a href = "/Home/10">About this website</a>
            <a href = "/Home/11">About me</a>
            <a href = "/Home/12">Help</a>
            <a href = "/Home/13">Contact us</a>
    </div>
</body>
</html>