<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Django</title>
</head>
<body>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'Home/style.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">



    <div class = header>
	    <h1>Learn Django</h1>
    </div>
    <div class = navigation>
        <a href = "/Home/1">Home</a>
        <a href = "/Home/2">Getting django</a>
        <a href = "/Home/3">Start with django</a>
        <a href = "/Home/10">About website</a>
        <a href = "/Home/13">Contact us</a>

    </div>



    <div class = main>
        <h2>How to get Django? : </h2>
            <p>Django is available open-source under the <a href="https://github.com/django/django/blob/master/LICENSE">BSD license</a>. We recommend using the latest version of Python 3. The last version to support Python 2.7 is Django 1.11 LTS.
            </p>
        <h3>Option 1: Get the latest official version</h3>
          <p>The latest official version is 2.1. Read the
                <a href="https://docs.djangoproject.com/en/2.1/releases/2.1/">2.1 release notes</a>, then install it with
                <a href="https://pip.pypa.io/en/latest/">pip</a>:</p>
                <fieldset>pip install Django==2.1</fieldset>

        <h3>Option 2: Get the latest development version</h3>
            <p>The latest and greatest Django version is the one that’s in our Git repository (our revision-control system). This is only for experienced users who want to try incoming changes and help identify bugs before an official release. Get it using this shell command, which requires <a href="https://git-scm.com/">Git</a>:</p>
                <fieldset>git clone https://github.com/django/django.git</fieldset>
            <p>You can also download <a href="https://github.com/django/django/archive/master.tar.gz"> a gzipped tarball</a> of the development version. This archive is updated every time we commit code.</p>

        <h2>Installation guide : </h2>
            <p>Before you can use Django, you’ll need to get it installed. We have a <a href="https://docs.djangoproject.com/en/2.1/topics/install/"><span class="doc">complete installation guide</span></a> that covers all the possibilities; this guide will guide you to a simple, minimal installation that’ll work while you walk through the introduction.</p>
        <h2>After you get it : </h2>
            <p>Make sure you read the documentation that corresponds to the version of Django you’ve just installed.</p>
            <p>And be sure to sign up for the <a href="https://groups.google.com/group/django-users">django-users mailing list</a>, where other Django users and the Django developers themselves all hang out to help each other.</p>

        <fieldset>
        <div class = main>
        <h2>Installing Django Youtube Video : </h2>
        <b><a href="https://www.youtube.com/watch?v=qgGIqRFvFFk&list=PL6gx4Cwl9DGBlmzzFcLgDhKTTfNLfX1IK&index=1">Click Here</a></b>
        </div>
        </fieldset>
    </div>

<div class = footer >
    <br>
    <br>
    <br><br>
    <br>
    <br>
       &copy; www.learndjango.com. ALL RIGHTS RESERVED.
            <a href = "/Home/10">About this website</a>
            <a href = "/Home/11">About me</a>
            <a href = "/Home/12">Help</a>
            <a href = "/Home/13">Contact us</a>
    </div>
</body>
</html>