<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Django</title>
</head>
<body>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'Home/style.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="icon" href="">
    <div class = header>
	    <h1>Learn Django</h1>
    </div>

    <div class = navigation>
        <a href = "/Home/1">Home</a>
        <a href = "/Home/2">Getting django</a>
        <a href = "/Home/3">Start with django</a>
        <a href = "/Home/10">About website</a>
        <a href = "/Home/13">Contact us</a>

    </div>


    <div class = demosites>
        <h2>Sites Using Django</h2>
            <a href = "https://www.disqus.com">Disqus</a>
            <a href = "https://www.instagram.com">Instagram</a>
            <a href = "https://www.knightfoundation.org">KnightFoundation</a>
            <a href = "https://www.macfound.org">MacArthurFoundation</a>
            <a href = "https://www.mozilla.org">Mozilla</a>
            <a href = "https://www.nationalgeographic.com">NationalGeographic</a>
            <a href = "https://www.okfn.org">OpenKnowledgeFoundation</a>
            <a href = "https://www.pinterest.com">Pinterest</a>
            <a href = "https://www.openstack.org">OpenStack</a>
    </div>
   <br>
   <br>
    <br>


    <div class = main>
        <h2>Why Django?</h2>
            <p>With Django, you can take Web applications from concept to launch in a matter of hours.
            Django takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel.
             It’s free and open source.
            </p>

        <h3> > Ridiculously fast</h3>
            <p>Django was designed to help developers take applications from concept to completion as quickly as possible.
            </p>

        <h3> > Fully loaded</h3>
            <p>Django includes dozens of extras you can use to handle common Web development tasks.
            Django takes care of user authentication, content administration, site maps, RSS feeds, and many more tasks — right out of the box.
            </p>

        <h3> > Reassuringly secure</h3>
            <p>Django takes security seriously and helps developers avoid many common security mistakes, such as SQL injection, cross-site scripting, cross-site request forgery and clickjacking.
            Its user authentication system provides a secure way to manage user accounts and passwords.
            </p>

        <h3> > Exceedingly scalable</h3>
            <p>Some of the busiest sites on the planet use Django’s ability to quickly and flexibly scale to meet the heaviest traffic demands.
            </p>

        <h3> > Incredibly versatile</h3>
            <p>Companies, organizations and governments have used Django to build all sorts of things — from content management systems to social networks to scientific computing platforms.
            </p>

    </div>

    <div class = footer >
    <br>
    <br>
    <br><br>
    <br>
    <br>
        &copy; www.learndjango.com. ALL RIGHTS RESERVED.
            <a href = "/Home/10">About this website</a>
            <a href = "/Home/11">About me</a>
            <a href = "/Home/12">Help</a>
            <a href = "/Home/13">Contact us</a>
    </div>


</body>
</html>